repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      - id: ruff-format
      - id: ruff
        args: ["--fix"]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args:
          [
            "--check-filenames",
            "--check-hidden",
            "--skip=uv.lock,.venv,.git,.mypy_cache,.ruff_cache,.pytest_cache,internal_docs,scratchpad,.secrets.baseline",
          ]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.2
    hooks:
      - id: mypy
        args: ["--config-file=pyproject.toml", "src"]
        pass_filenames: false
        additional_dependencies:
          - pydantic>=2.7
          - pyyaml>=6.0.2
          - jsonschema>=4.23.0
          - types-jsonschema>=4.23.0.20240813
          - typer>=0.12
          - ulid-py>=1.1.0
          - types-PyYAML>=6.0.12.20240808

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        args: ["-q", "-r", "src", "-x", "tests"]
        pass_filenames: false

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]
